﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Samochod

@{
    ViewData["Title"] = "Dodaj samochód";
}

@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Uwaga!</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}
<h2>Dodaj nowy samochód</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Marka" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Liczba miejsc</label>
            <div class="col-md-10">
                <input asp-for="LiczbaMiejsc" class="form-control" value="4"/>
                <span asp-validation-for="LiczbaMiejsc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Koszt za 1 km</label>
            <div class="col-md-10">
                <input asp-for="Koszt1Km" class="form-control" value="0.50"/>
                <span asp-validation-for="Koszt1Km" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
