@model MalaFirmaTaxi.Models.Samochod

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Samochod</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiczbaMiejsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiczbaMiejsc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koszt1Km)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Koszt1Km)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
