@model MalaFirmaTaxi.Models.Samochod

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Samochod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiczbaMiejsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiczbaMiejsc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koszt1Km)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Koszt1Km)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
