﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Samochod

@{
    ViewData["Title"] = "Edit";
}

<h2>Edytuj dane samochodu</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Numer samochodu: @Model.ID</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Marka" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Liczba miejsc</label>
            <div class="col-md-10">
                <input asp-for="LiczbaMiejsc" class="form-control" />
                <span asp-validation-for="LiczbaMiejsc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Koszt za 1 km</label>
            <div class="col-md-10">
                <input asp-for="Koszt1Km" class="form-control" />
                <span asp-validation-for="Koszt1Km" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz zmiany" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
