﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Kierowca

@{
	ViewData["Title"] = "Rejestracja";
}

@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Błąd:</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}
@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces!</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<h2>Zarejestruj się</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<h4>Profil Kierowcy</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Imię</label>
			<div class="col-md-10">
				<input asp-for="Imie" class="form-control" />
				<span asp-validation-for="Imie" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Nazwisko" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Nazwisko" class="form-control" />
				<span asp-validation-for="Nazwisko" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Samochód</label>
			<div class="col-md-10">
				<a asp-action="Create" asp-controller="Samochody" class="btn btn-default">Dodaj nowy samochód</a>
				<select asp-for="SamochodID" class="form-control" asp-items="ViewBag.SamochodID">
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Zarejestruj" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="Login" class="btn btn-default">Wróć do logowania</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
