﻿@model MalaFirmaTaxi.Models.RelatedViewsModels.KierowcyDetailsData

@{
	ViewData["Title"] = "Szczegóły wybranego kierowcy";
}

<h2>Szczegóły </h2>

<div>
	<h4>Kierowca nr @Model.Kierowca.ID</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>Imię</dt>
		<dd>
			@Html.DisplayFor(model => model.Kierowca.Imie)
		</dd>
		<dt>Nazwisko</dt>
		<dd>
			@Html.DisplayFor(model => model.Kierowca.Nazwisko)
		</dd>
		<dt>Samochód</dt>
		<dd>
			<table class="table">
				<tr>
					<th>Marka</th>
					<th>Model</th>
					<th>Liczba miejsc</th>
					<th>Koszt przejechania 1 km</th>
				</tr>
				<tr>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Marka)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Model)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.LiczbaMiejsc)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Koszt1Km)
					</td>
				</tr>

			</table>
		</dd>
		<dt>Zlecenia</dt>
		<dd>
			<table class="table">
				<tr>
					<th>Klient</th>
					<th>Start</th>
					<th>Cel</th>
					<th>Koszt</th>
					<th>Liczba osób</th>
					<th></th>
				</tr>
				<tbody>
					@foreach (var item in Model.Zlecenia)
					{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Klient.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaStart.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaCel.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Koszt)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LiczbaOsob)
						</td>
						<td>
							@Html.ActionLink("Szczegóły", "Details", new { zlecenieID = item.ID })
						</td>
					</tr>
					}
			</table>
		</dd>
	</dl>
</div>
@if (Model.Transakcje != null)
{
	<h3>
		Transakcje powiązane z wybranym zleceniem
	</h3>
	<table class="table">
		<tr>
			<th>Data i godzina</th>
			<th>Lokalizacja</th>
			<th>Kierowca</th>
			<th>Rodzaj transakcji</th>
			<th>Uwagi</th>
		</tr>
		@foreach (var item in Model.Transakcje)
		{
		<tr>
			<td>
				@item.StempelCzasu
			</td>
			<td>
				@item.Lokalizacja.Adres
			</td>
			<td>
				@item.Kierowca.FullName
			</td>
			<td>
				@item.Rodzaj
			</td>
			<td>
				@if (item.Uwagi != null)
					{
					@item.Uwagi
					}
			</td>
		</tr>
		}
	</table>
}
<div>
	<a asp-action="Edit" asp-route-id="@Model.Kierowca.ID">Edytuj</a> |
	<a asp-action="Index">Powrót do listy kierowców</a>
</div>
