﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Kierowca

@{
	ViewData["Title"] = "Edycja";
}

@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces:</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");

}

<h2>Edytuj swoje dane</h2>

<form asp-action="Edit">
	<div class="form-horizontal">
		<h4>Twój numer kierowcy: @Model.ID</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="ID" />
		<div class="form-group">
			<label asp-for="Imie" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Imie" class="form-control" />
				<span asp-validation-for="Imie" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Nazwisko" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Nazwisko" class="form-control" />
				<span asp-validation-for="Nazwisko" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Twój samochód</label>
			<div class="col-md-10">
				<select asp-for="SamochodID" class="form-control" asp-items="ViewBag.SamochodID"></select>
				<span asp-validation-for="SamochodID" class="text-danger"></span>
				<a asp-action="Create" asp-controller="Samochody" class="btn btn-default">Dodaj nowy samochód</a><br />
				@Html.ActionLink("Edytuj dane swojego samochodu", "Edit", "Samochody", new { id = Model.SamochodID }, new { @class = "btn btn-default" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Zapisz zmiany" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
