﻿@model IEnumerable<MalaFirmaTaxi.Models.Kierowca>

@{
	ViewData["Title"] = "Kierowcy";
}

<h2>Kierowcy</h2>

<p>
	<a asp-action="Create">Zarejestruj nowego kierowcę</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Numer</th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Samochód</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Imie)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nazwisko)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Samochod.Nazwa)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
					<a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
					<a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
				</td>
			</tr>
		}
	</tbody>
</table>
