﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Kierowca

@{
	ViewData["Title"] = "Logowanie";
}
@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Błąd:</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}

@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces!</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<h2>Zaloguj się na konto kierowcy</h2>

<form asp-action="Login">
	<div class="form-horizontal">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Numer kierowcy</label>
			<div class="col-md-10">
				<input asp-for="ID" class="form-control" />
				<span asp-validation-for="ID" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Nazwisko" class="col-md-2 control-label">Nazwisko</label>
			<div class="col-md-10">
				<input asp-for="Nazwisko" class="form-control" />
				<span asp-validation-for="Nazwisko" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Zaloguj" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="Create" class="btn btn-primary">Zarejestruj się</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

