﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.RelatedViewsModels.KierowcyDetailsData

@{
	ViewData["Title"] = "Panel kierowcy";
}

@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Błąd:</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}

@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces:</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<h2>Witaj, @Model.Kierowca.FullName!</h2>

@if (Model.AwaryjneZlecenie != null)
{
	<div class="row">
		<div class="col-sm-2">
			<div class="btn-group-vertical">
				@Html.ActionLink("Odbiór pasażera", "RegisterPrzejeciePasazeraPoAwariiForZlecenie", new { zlecenieId = Model.AwaryjneZlecenie.ID }, new { @class = "btn btn-default" })
				@Html.ActionLink("Koniec kursu", "RegisterAwaryjnyKoniecKursuForZlecenie", new { zlecenieId = Model.AwaryjneZlecenie.ID }, new { @class = "btn btn-default" })
				@Html.ActionLink("Zgłoś awarię", "RegisterAwariaForZlecenie", new { zlecenieId = Model.AwaryjneZlecenie.ID }, new { @class = "btn btn-warning" })
			</div>
		</div>
		<div class="col-sm-4">
			<div class="alert alert-danger">
				@if (Model.JestAwariaNowegoZlecenia)
				{
					<div class="alert alert-info">
						<strong>Uwaga:</strong> Zaczekaj na zastępczego kierowcę!
					</div>
				}
				<strong>Uwaga! </strong> Zlecono Ci awaryjny kurs: <br/>
				Pasażer: @Model.AwaryjneZlecenie.Klient.FullName <br/>
				Start: @Model.AwaryjneZlecenie.LokalizacjaStart.Adres <br/>
				Cel: @Model.AwaryjneZlecenie.LokalizacjaCel.Adres <br/>
			</div>
		</div>
	</div>
}

@if (Model.NoweZlecenie != null)
{
	<div class="row">
		<div class="col-sm-2">
			<div class="btn-group-vertical">
				@Html.ActionLink("Odbiór pasażera", "RegisterOdbiorPasazeraForZlecenie", new { zlecenieId = Model.NoweZlecenie.ID }, new { @class = "btn btn-default" })
				@Html.ActionLink("Koniec kursu", "RegisterKoniecKursuForZlecenie", new { zlecenieId = Model.NoweZlecenie.ID }, new { @class = "btn btn-default" })
				@Html.ActionLink("Zgłoś awarię", "RegisterAwariaForZlecenie", new { zlecenieId = Model.NoweZlecenie.ID }, new { @class = "btn btn-warning" })
			</div>
		</div>
		<div class="col-sm-4">
			<div class="alert alert-warning">
				@if (Model.JestAwariaNowegoZlecenia)
				{
				<div class="alert alert-danger">
					<strong>Uwaga:</strong> Zaczekaj na zastępczego kierowcę!
				</div>
				}
				<strong>Uwaga:</strong> Masz nowe zlecenie! <br />
				Pasażer: @Model.NoweZlecenie.Klient.FullName <br />
				Start: @Model.NoweZlecenie.LokalizacjaStart.Adres <br />
				Cel: @Model.NoweZlecenie.LokalizacjaCel.Adres <br />
			</div>
		</div>
	</div>
}

@{
	var transakcjaDisabled = (Model.AwaryjneZlecenie != null || Model.NoweZlecenie != null )
	? "disabled" : "";
}

<div>
	<h4>Twój numer kierowcy: @Model.Kierowca.ID</h4>
	<div>
		@Html.ActionLink("Edytuj dane", "Edit", new { id = Model.Kierowca.ID, redirectToPanelKierowcy = true }, new { @class = "btn btn-default" })
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle @transakcjaDisabled" data-toggle="dropdown">
				Dodaj nową transakcję <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a asp-action="CreateAktywnyByKierowca" asp-controller="Transakcje">Aktywny</a></li>
				<li><a asp-action="CreateNieaktywnyByKierowca" asp-controller="Transakcje">Nieaktywny</a></li>
			</ul>
		</div>
		<a asp-action="Logout" class="btn btn-danger">Wyloguj się</a>
	</div>
	<hr />
	<dl class="dl-horizontal">
		<dt>Imię</dt>
		<dd>
			@Html.DisplayFor(model => model.Kierowca.Imie)
		</dd>
		<dt>Nazwisko</dt>
		<dd>
			@Html.DisplayFor(model => model.Kierowca.Nazwisko)
		</dd>
		<dt>Samochód</dt>
		<dd>
			<table class="table table-hover">
				<tr>
					<th>Marka</th>
					<th>Model</th>
					<th>Liczba miejsc</th>
					<th>Koszt przejechania 1 km</th>
				</tr>
				<tr>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Marka)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Model)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.LiczbaMiejsc)
					</td>
					<td>
						@Html.DisplayFor(model => model.Kierowca.Samochod.Koszt1Km)
					</td>
				</tr>

			</table>
		</dd>
		@if (Model.TransakcjeBezZlecenia != null)
		{
		<dt>Transakcje</dt>
			<dd>
				<table class="table">
					<tr>
						<th>Numer</th>
						<th>Czas</th>
						<th>Lokalizacja</th>
						<th>Rodzaj</th>
						<th>Uwagi</th>
					</tr>
					<tbody>
						@foreach (var item in Model.TransakcjeBezZlecenia)
						{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ID)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.StempelCzasu)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Lokalizacja.Adres)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Rodzaj)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Uwagi)
							</td>
						</tr>
						}
				</table>
			</dd>
		}
		@if (Model.Zlecenia != null)
		{
		<dt>Zlecenia</dt>
			<dd>
				<table class="table">
					<tr>
						<th>Numer</th>
						<th>Klient</th>
						<th>Start</th>
						<th>Cel</th>
						<th>Koszt</th>
						<th>Liczba osób</th>
						<th></th>
					</tr>
					<tbody>
						@foreach (var item in Model.Zlecenia)
						{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ID)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Klient.FullName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LokalizacjaStart.Adres)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LokalizacjaCel.Adres)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Koszt)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LiczbaOsob)
							</td>
							<td>
								@Html.ActionLink("Szczegóły", "PanelKierowcy", new { zlecenieID = item.ID })
							</td>
						</tr>
						}
				</table>
			</dd>
		}
	</dl>
</div>

@if (Model.Transakcje != null)
{
	<h3>
		Transakcje powiązane z wybranym zleceniem
	</h3>
	<table class="table table-hover table-condensed">
		<tr>
			<th>Numer</th>
			<th>Data i godzina</th>
			<th>Lokalizacja</th>
			<th>Kierowca</th>
			<th>Rodzaj transakcji</th>
			<th>Uwagi</th>
		</tr>
		@foreach (var item in Model.Transakcje)
		{
		<tr>
			<td>
				@item.ID
			</td>
			<td>
				@item.StempelCzasu
			</td>
			<td>
				@item.Lokalizacja.Adres
			</td>
			<td>
				@item.Kierowca.FullName
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rodzaj)
			</td>
			<td>
				@if (item.Uwagi != null)
					{
					@item.Uwagi
					}
			</td>
		</tr>
		}
	</table>
}

