﻿@{
	ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd!</h1>
<h2 class="text-danger">Wystąpił błąd w czasie przetwarzania twojego zapytania.</h2>

<hr />
<h3>
	Przepraszamy za utrudnienia.
</h3>
<hr />

<div class="row">
	<div class="col-sm-6">
		<a href="/Home">
			<img class="img-responsive" src="/images/taxi_icon.svg"
				 alt="Mała Firma Taxi Logo" width="150">
		</a>
	</div>
</div>


