﻿@using Microsoft.AspNetCore.Http
@{
	ViewData["Title"] = "Witamy";
}
@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces!</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<div class="jumbotron">
	<div class="row">
		<div class="col-sm-3"><img class="img-responsive" src="images/taxi_icon.svg" alt="Mała Firma Taxi Logo" width="250"> </div>
		<div class="col-sm-6"><h1 align="right">Mała Firma Taxi</h1></div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>O nas</h2>
		<p>
			Mała Firma Taxi to aplikacja webowa do obsługi małej firmy taksówkowej z użyciem bazy danych. Wskocz do samochodu!
		</p>
		<p>Artur Gasiński | 218685</p>
	</div>
	<div class="col-md-4">
		<h2>Używaj jako klient</h2>
		<p>Powiedz nam, gdzie jesteś i dokąd chcesz dojechać, a my załatwimy za Ciebie resztę!</p>
		<p><a class="btn btn-default" asp-controller="Klienci" asp-action="PanelKlienta">Panel Klienta &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Zarejestruj się jako kierowca</h2>
		<p>Możesz dodać swoje konto jako kierowca i oferować klientom usługi taksówkowe!</p>
		<p><a class="btn btn-default" asp-controller="Kierowcy" asp-action="PanelKierowcy">Zostań kierowcą! &raquo;</a></p>
	</div>

</div>
