﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Lokalizacja

@{
    ViewData["Title"] = "Nowa lokalizacja";
}

@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Uwaga!</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}

<h2>Dodaj nową lokalizację</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ulica" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Numer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Numer" class="form-control" />
                <span asp-validation-for="Numer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Miasto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Miasto" class="form-control" />
                <span asp-validation-for="Miasto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
