@model MalaFirmaTaxi.Models.Lokalizacja

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lokalizacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DlugoscGeogr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DlugoscGeogr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SzerokoscGeogr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SzerokoscGeogr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
