@model IEnumerable<MalaFirmaTaxi.Models.Lokalizacja>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ulica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Miasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DlugoscGeogr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SzerokoscGeogr)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DlugoscGeogr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SzerokoscGeogr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
