﻿@using MalaFirmaTaxi.Models
@model MalaFirmaTaxi.Models.Transakcja

@{
    ViewData["Title"] = "Nowa transakcja";
}

<h2>Dodaj nową transakcję</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Kierowca</label>
            <div class="col-md-10">
	            <select asp-for="KierowcaID" class="form-control" asp-items="ViewBag.KierowcaID">
					<option value="">-- Wybierz kierowcę --</option>
	            </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Lokalizacja</label>
            <div class="col-md-10">
	            <select asp-for="LokalizacjaID" class="form-control" asp-items="ViewBag.LokalizacjaID">
					<option value="">-- Wybierz lokalizację --</option>
	            </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Numer zlecenia</label>
            <div class="col-md-10">
	            <select asp-for="ZlecenieID" class="form-control" asp-items="ViewBag.ZlecenieID">
					<option value="">-- Wybierz zlecenie --</option>
	            </select>
				
			</div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Data i godzina</label>
            <div class="col-md-10">
                <input asp-for="StempelCzasu" textform="Date" class="form-control" />
                <span asp-validation-for="StempelCzasu" class="text-danger"></span>
            </div>
        </div>
	    <div class="form-group">
		    <label class="col-md-2 control-label">Rodzaj transakcji</label>
		    <div class="col-md-10">
			    <select asp-for="Rodzaj" asp-items="@Html.GetEnumSelectList<Rodzaj>()" class="form-control">
					<option value="">-- Wybierz rodzaj --</option>
			    </select>
			    <span asp-validation-for="Rodzaj" class="text-danger"></span>
		    </div>
	    </div>
        <div class="form-group">
            <label asp-for="Uwagi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Uwagi" class="form-control" placeholder="Tutaj wpisz swoje uwagi..." />
                <span asp-validation-for="Uwagi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
