﻿@using MalaFirmaTaxi.Models
@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Transakcja

@{
	ViewData["Title"] = "Nowa transakcja";
}
@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces!</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}
<h2>Poinformuj o nieaktywności</h2>

<form asp-action="CreateNieaktywnyByKierowca">
	<div class="form-horizontal">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Kierowca</label>
			<div class="col-md-10">
				<select asp-for="KierowcaID" class="form-control">
					<option selected="selected" value="@Context.Session.GetString("KierowcaID")">@Context.Session.GetString("KierowcaFullName")</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Lokalizacja</label>
			<div class="col-md-10">
				<select asp-for="LokalizacjaID" class="form-control" asp-items="ViewBag.LokalizacjaID">
					<option value="">-- Wybierz lokalizację --</option>
				</select>
				<a asp-action="Create" asp-controller="Lokalizacje">Dodaj nową lokalizację</a>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Rodzaj" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="Rodzaj" class="form-control">
					<option selected="selected" value="@Rodzaj.Nieaktywny">Nieaktywny</option>
				</select>
				<span asp-validation-for="Rodzaj" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Uwagi" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Uwagi" class="form-control" placeholder="Tutaj wpisz swoje uwagi..." />
				<span asp-validation-for="Uwagi" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Dodaj" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
