@model MalaFirmaTaxi.Models.Transakcja

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.StempelCzasu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StempelCzasu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodzaj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uwagi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kierowca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kierowca.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokalizacja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokalizacja.Miasto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zlecenie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zlecenie.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
