@model MalaFirmaTaxi.Models.Transakcja

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StempelCzasu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StempelCzasu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodzaj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uwagi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kierowca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kierowca.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokalizacja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokalizacja.Miasto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zlecenie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zlecenie.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
