@model MalaFirmaTaxi.Models.Transakcja

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Transakcja</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="KierowcaID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="KierowcaID" class="form-control" asp-items="ViewBag.KierowcaID"></select>
                <span asp-validation-for="KierowcaID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LokalizacjaID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LokalizacjaID" class="form-control" asp-items="ViewBag.LokalizacjaID"></select>
                <span asp-validation-for="LokalizacjaID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ZlecenieID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ZlecenieID" class="form-control" asp-items="ViewBag.ZlecenieID"></select>
                <span asp-validation-for="ZlecenieID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StempelCzasu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StempelCzasu" class="form-control" />
                <span asp-validation-for="StempelCzasu" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rodzaj" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Rodzaj" class="form-control"></select>
                <span asp-validation-for="Rodzaj" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Uwagi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Uwagi" class="form-control" />
                <span asp-validation-for="Uwagi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
