@model IEnumerable<MalaFirmaTaxi.Models.Transakcja>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StempelCzasu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rodzaj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uwagi)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Kierowca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokalizacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zlecenie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StempelCzasu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kierowca.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokalizacja.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zlecenie.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
