﻿@model MalaFirmaTaxi.Models.Zlecenie

@{
	ViewData["Title"] = "Nowe zlecenie";
}

<h2>Dodaj nowe zlecenie</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Klient</label>
			<div class="col-md-10">
				<select asp-for="KlientID" class="form-control" asp-items="ViewBag.KlientID">
					<option value="">-- Wybierz klienta --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Kierowca</label>
			<div class="col-md-10">
				<select asp-for="KierowcaID" class="form-control" asp-items="ViewBag.KierowcaID">
					<option value="">-- Wybierz kierowcę --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Koszt kursu</label>
			<div class="col-md-10">
				<input asp-for="Koszt" class="form-control" />
				<span asp-validation-for="Koszt" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Lokalizacja startowa:</label>
			<div class="col-md-10">
				<select asp-for="LokalizacjaStartID" class="form-control" asp-items="ViewBag.LokalizacjaStartID">
					<option value="">-- Wybierz start --</option>
				</select>
				@Html.ActionLink("Dodaj nową lokalizację","Create","Lokalizacje")
			</div>

		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Lokalizacja docelowa:</label>
			<div class="col-md-10">
				<select asp-for="LokalizacjaCelID" class="form-control" asp-items="ViewBag.LokalizacjaCelID">
					<option value="">-- Wybierz cel --</option>
				</select>
				@Html.ActionLink("Dodaj nową lokalizację", "Create", "Lokalizacje")
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Liczba pasażerów</label>
			<div class="col-md-10">
				<input asp-for="LiczbaOsob" class="form-control" />
				<span asp-validation-for="LiczbaOsob" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Dodaj" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<div>
	<a asp-action="Index">Powrót do listy zleceń</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
