﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Zlecenie

@{
	ViewData["Title"] = "Nowe zlecenie";
}

@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces!</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<h2>Dodaj nowe zlecenie</h2>

<form asp-action="CreateByAnonim">
	<div class="form-horizontal">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Klient</label>
			<div class="col-md-10">
				<select asp-for="KlientID" class="form-control">
					<option selected="selected" value=@Context.Session.GetString("KlientID")>@Context.Session.GetString("KlientFullName")</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Lokalizacja startowa:</label>
			<div class="col-md-10">
				<select asp-for="LokalizacjaStartID" class="form-control" asp-items="ViewBag.LokalizacjaStartID">
					<option value="">-- Wybierz start --</option>
				</select>
				<a asp-action="Create" asp-controller="Lokalizacje">Dodaj nową lokalizację</a>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Lokalizacja docelowa:</label>
			<div class="col-md-10">
				<select asp-for="LokalizacjaCelID" class="form-control" asp-items="ViewBag.LokalizacjaCelID">
					<option value="">-- Wybierz cel --</option>
				</select>
				<a asp-action="Create" asp-controller="Lokalizacje">Dodaj nową lokalizację</a>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Liczba pasażerów</label>
			<div class="col-md-10">
				<input asp-for="LiczbaOsob" class="form-control" value="1" />
				<span asp-validation-for="LiczbaOsob" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Dodaj" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<div>
	@if (Context.Session.GetString("RedirectFromZlecenie") != null)
	{
	<a asp-route=@Context.Session.GetString("RedirectFromZlecenie")>Powrót</a>
	}
	else
	{
	<a asp-action="Index">Powrót do listy</a>
	}
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
