@model MalaFirmaTaxi.Models.Zlecenie

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zlecenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Koszt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Koszt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiczbaOsob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiczbaOsob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kierowca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kierowca.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klient.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LokalizacjaCel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LokalizacjaCel.Miasto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LokalizacjaStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LokalizacjaStart.Miasto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
