﻿@model MalaFirmaTaxi.Models.Zlecenie
@{
    ViewData["Title"] = "Szczegóły wybranego zlecenia";
}

<h2>Zlecenie nr @Model.ID</h2>

@if (Model.Transakcje != null)
{
	<table class="table">
		<tr>
			<th>Numer</th>
			<th>Kierowca</th>
			<th>Data i godzina</th>
			<th>Lokalizacja</th>
			<th>Rodzaj</th>
			<th>Uwagi</th>
		</tr>

		@foreach (var item in Model.Transakcje.OrderBy(i => i.StempelCzasu))
		{
			string selectedRow = "";
			if (item.ID == (int?)ViewData["TransakcjaID"])
			{
				selectedRow = "success";
			}
			<tr class="@selectedRow">
		
				<td>
					@item.ID
				</td>
				<td>
					@item.Kierowca.FullName
				</td>
				<td>
					@item.StempelCzasu
				</td>
				<td>
					@item.Lokalizacja.Adres
				</td>
				<td>
					@item.Rodzaj
				</td>
				<td>
					@item.Uwagi
				</td>
			</tr>
		}

	</table>
}
<div>
    <a asp-action="Index">Powrót do listy wszystkich zleceń</a>
</div>
