﻿@model IEnumerable<MalaFirmaTaxi.Models.Zlecenie>

@{
    ViewData["Title"] = "Index";
}

<h2>Zlecenia</h2>

<p>
    <a asp-action="Create">Dodaj nowe zlecenie</a>
</p>
<table class="table">
    <thead>
    <tr>
	    <th>Numer</th>
	    <th>Kierowca</th>
	    <th>Klient</th>
	    <th>Start</th>
	    <th>Cel</th>
	    <th>Koszt</th>
	    <th>Liczba osób</th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.ID)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Kierowca.FullName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Klient.FullName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LokalizacjaStart.Adres)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LokalizacjaCel.Adres)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Koszt)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LiczbaOsob)
		</td>
		<td>
			<a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
			<a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a>
		</td>
	</tr>
}
    </tbody>
</table>
