﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Klient

@{
	ViewData["Title"] = "Anonimowy kurs";
}
@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-danger">
		<strong>Błąd:</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}
<h2>Zamów kurs anonimowo</h2>

<form asp-action="CreateAnonimowo">
	<div class="form-horizontal">
		<h4>Podaj nam tylko niezbędne dane</h4>
		<hr />
		<div class="form-group">
			<label asp-for="Telefon" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Telefon" class="form-control" />
				<span asp-validation-for="Telefon" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<a href="#" data-toggle="tooltip" data-placement="bottom"
				   title="Zastrzegamy sobie prawo do zachowania Twojego numeru telefonu
				   w bazie danych i przechowywania informacji o Twoich kursach.">
					<input type="submit" value="Przejdź dalej" class="btn btn-default" />
				</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
}
