﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Klient

@{
    ViewData["Title"] = "Rejestracja";
}
@if (Context.Session.GetString("AlertText") != null)
{
	<div class="alert alert-warning">
		<strong>Uwaga:</strong> @Context.Session.GetString("AlertText")
	</div>
	Context.Session.Remove("AlertText");
}
<h2>Zarejestruj się</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Profil Klienta</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Imię</label>
            <div class="col-md-10">
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nazwisko" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zarejestruj" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Login" class="btn btn-default">Wróć do logowania</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
