﻿@model MalaFirmaTaxi.Models.RelatedViewsModels.KlienciDetailsData

@{
	ViewData["Title"] = "Szczegóły wybranego klienta";
}

<h2>Szczegóły</h2>

<div>
	<h4>Klient nr @Model.Klient.ID</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Imie)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Imie)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Nazwisko)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Nazwisko)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Telefon)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Telefon)
		</dd>
		<dt>Zlecenia</dt>
		<dd>
			<table class="table">
				<thead>
				<tr>
					<th>Kierowca</th>
					<th>Start</th>
					<th>Cel</th>
					<th>Koszt</th>
					<th>Liczba osób</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				@foreach (var item in Model.Zlecenia)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Kierowca.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaStart.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaCel.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Koszt)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LiczbaOsob)
						</td>
						<td>
							@Html.ActionLink("Szczegóły", "Details", new { zlecenieID = item.ID })
						</td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>

@if (Model.Transakcje != null)
{
	<h3>
		Transakcje powiązane z wybranym zleceniem
	</h3>
	<table class="table">
		<tr>
			<th>Kierowca</th>
			<th>Data i godzina</th>
			<th>Lokalizacja</th>
			<th>Rodzaj transakcji</th>
			<th>Uwagi</th>
		</tr>
		@foreach (var item in Model.Transakcje)
		{
		<tr>
			<td>
				@item.Kierowca.FullName
			</td>
			<td>
				@item.StempelCzasu
			</td>
			<td>
				@item.Lokalizacja.Adres
			</td>
			<td>
				@item.Rodzaj
			</td>
			<td>
				@if (item.Uwagi != null)
					{
					@item.Uwagi
					}
			</td>
		</tr>
		}
	</table>
}

<div>
	<a asp-action="Edit" asp-route-id="@Model.Klient.ID">Edytuj</a> |
	<a asp-action="Index">Powrót do listy klientów</a>
</div>
