﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.Klient

@{
    ViewData["Title"] = "Edycja";
}

<h2>Edytuj swoje dane</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Twój numer klienta: @Model.ID</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label class="col-md-2 control-label">Imię</label>
            <div class="col-md-10">
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nazwisko" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz zmiany" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
	@if (Context.Session.GetString("RedirectFromKlientEdit") != null)
	{
		<a asp-action="PanelKlienta">Powrót do panelu klienta</a>
	}
	else
	{
		<a asp-action="Index">Powrót do listy</a>
	}
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
