﻿@using Microsoft.AspNetCore.Http
@model MalaFirmaTaxi.Models.RelatedViewsModels.KlienciDetailsData

@{
	ViewData["Title"] = "Panel klienta";
}

@if (Context.Session.GetString("DialogText") != null)
{
	<div class="alert alert-success">
		<strong>Sukces:</strong> @Context.Session.GetString("DialogText")
	</div>
	Context.Session.Remove("DialogText");
}

<h2>Witaj, @Model.Klient.FullName!</h2>

<div>
	<h4>Twój numer klienta: @Model.Klient.ID</h4>
	<div>
		@Html.ActionLink("Edytuj dane", "Edit", new { id = Model.Klient.ID }, new { @class = "btn btn-default" })
		<a asp-action="CreateZlecenie" class="btn btn-success">Dodaj nowe zlecenie</a>
		<a asp-action="Logout" class="btn btn-danger">Wyloguj się</a>
	</div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Imie)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Imie)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Nazwisko)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Nazwisko)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Klient.Telefon)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Klient.Telefon)
		</dd>
		<dt>Zlecenia</dt>
		<dd>
			<table class="table">
				<thead>
					<tr>
						<th>Numer</th>
						<th>Kierowca</th>
						<th>Start</th>
						<th>Cel</th>
						<th>Koszt</th>
						<th>Liczba osób</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Zlecenia)
					{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.ID)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Kierowca.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaStart.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LokalizacjaCel.Adres)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Koszt)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LiczbaOsob)
						</td>
						<td>
							@Html.ActionLink("Szczegóły", "PanelKlienta", new { zlecenieID = item.ID }, null)
						</td>
					</tr>
					}
			</table>
		</dd>
	</dl>
</div>

@if (Model.Transakcje != null)
{
	<h3>
		Transakcje powiązane z wybranym zleceniem
	</h3>
	<table class="table">
		<tr>
			<th>Kierowca</th>
			<th>Data i godzina</th>
			<th>Lokalizacja</th>
			<th>Rodzaj transakcji</th>
			<th>Uwagi</th>
		</tr>
		@foreach (var item in Model.Transakcje)
		{
		<tr>
			<td>
				@item.Kierowca.FullName
			</td>
			<td>
				@item.StempelCzasu
			</td>
			<td>
				@item.Lokalizacja.Adres
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rodzaj)
			</td>
			<td>
				@if (item.Uwagi != null)
					{
					@item.Uwagi
					}
			</td>
		</tr>
		}
	</table>
}

